##  Proceso de entrenamiento

### librerias

In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
from sklearn.linear_model import LogisticRegression
from sklearn.naive_bayes import GaussianNB
from sklearn.svm import SVC
from sklearn.ensemble import RandomForestClassifier
from sklearn.tree import DecisionTreeClassifier
from sklearn.neighbors import KNeighborsClassifier
from sklearn.discriminant_analysis import LinearDiscriminantAnalysis
from sklearn.discriminant_analysis import QuadraticDiscriminantAnalysis
from sklearn.metrics import roc_auc_score
from sklearn.model_selection import GridSearchCV
from sklearn.model_selection import train_test_split
import time as tm 
import main_function as mf
from sklearn.metrics import accuracy_score, confusion_matrix, classification_report
import funciones_proyecto as fn

In [2]:
dataset = pd.read_csv('train_output.csv')
dataset.head(10)

,Unnamed: 0,index,age,gender_code,security_no,region_category,membership_category,joining_date,joined_through_referral,referral_id,...,avg_time_spent,avg_frequency_login_days,points_in_wallet,used_special_discount,offer_application_preference,past_complaint,complaint_status,feedback,churn_risk_score,gender
0,2010,2016,41,1,1,1625,765,6,1571,1,...,68.02,104,672.140000,1588,1976,1746,1746,613,1,0
1,4875,4884,63,0,1,1368,744,7,1423,1631,...,309.37,104,523.630000,1912,1524,1746,1746,603,1,1
2,43,43,17,1,1,1368,390,3,1423,1631,...,348.07,23,824.950000,1912,1976,1746,1746,155,0,0
3,685,685,57,1,1,1625,420,3,1571,1,...,802.66,315,758.590000,1588,1976,1746,1746,155,0,0
4,3155,3163,34,0,1,507,744,7,1423,1631,...,62.16,116,590.400000,1912,1524,1754,418,588,1,1
5,608,608,16,0,1,507,744,5,1571,1,...,75.54,122,655.740000,1912,1524,1746,1746,613,1,1
6,5155,5166,51,1,1,1625,744,3,1571,2,...,410.56,123,281.858576,1912,1524,1754,458,603,1,0
7,4864,4873,34,1,1,1368,525,3,1571,1,...,113.20,132,759.280000,1588,1976,1754,438,554,0,0
8,1135,1137,22,1,1,1368,744,7,1571,1,...,30.08,137,643.150000,1912,1524,1754,418,588,1,0
9,265,265,27,0,1,507,765,6,1571,1,...,304.09,131,549.410000,1588,1976,1754,440,554,1,1

In [3]:
X = dataset.drop(['gender'], axis=1)
y = dataset['gender']

X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.3, shuffle=True, random_state=2022)

In [4]:
modelo, scores, resultados = mf.train_model(X_train, y_train)
with open('tiempo_ejecucion.txt', 'w') as archivo:
    archivo.write(str(modelo))

Fitting 10 folds for each of 3 candidates, totalling 30 fits

[Parallel(n_jobs=4)]: Using backend LokyBackend with 4 concurrent workers.
[Parallel(n_jobs=4)]: Done  30 out of  30 | elapsed:    3.7s finished
[Parallel(n_jobs=1)]: Using backend SequentialBackend with 1 concurrent workers.

Fitting 10 folds for each of 100 candidates, totalling 1000 fits

[Parallel(n_jobs=1)]: Done 1000 out of 1000 | elapsed:    6.3s finished

Fitting 10 folds for each of 20 candidates, totalling 200 fits

[Parallel(n_jobs=-1)]: Using backend LokyBackend with 8 concurrent workers.
[Parallel(n_jobs=-1)]: Done  34 tasks      | elapsed:   50.4s
[Parallel(n_jobs=-1)]: Done 184 tasks      | elapsed:  3.4min
[Parallel(n_jobs=-1)]: Done 200 out of 200 | elapsed:  3.6min finished

Fitting 10 folds for each of 36 candidates, totalling 360 fits

[Parallel(n_jobs=4)]: Using backend LokyBackend with 4 concurrent workers.
[Parallel(n_jobs=4)]: Done  42 tasks      | elapsed:   18.5s
[Parallel(n_jobs=4)]: Done 192 tasks      | elapsed:  1.2min
[Parallel(n_jobs=4)]: Done 360 out of 360 | elapsed:  2.4min finished

Fitting 10 folds for each of 36 candidates, totalling 360 fits

[Parallel(n_jobs=-1)]: Using backend LokyBackend with 8 concurrent workers.
[Parallel(n_jobs=-1)]: Done  34 tasks      | elapsed:    4.3s
[Parallel(n_jobs=-1)]: Done 345 out of 360 | elapsed:    7.1s remaining:    0.2s
[Parallel(n_jobs=-1)]: Done 360 out of 360 | elapsed:    7.2s finished
c:\Users\luish\Anaconda3\lib\site-packages\sklearn\discriminant_analysis.py:715: UserWarning: Variables are collinear
  warnings.warn("Variables are collinear")
[Parallel(n_jobs=-1)]: Using backend LokyBackend with 8 concurrent workers.

Fitting 10 folds for each of 50 candidates, totalling 500 fits

[Parallel(n_jobs=-1)]: Done  56 tasks      | elapsed:    0.4s
[Parallel(n_jobs=-1)]: Done 500 out of 500 | elapsed:    1.9s finished

In [5]:
modelo

                                          0                    1         2
Start Train Model          Fecha Ejecucion:  2022-06-29 19:41:11
Modelo LDA         Tiempo de entrenamiento:                    4  segundos
Modelo NB          Tiempo de entrenamiento:                    6  segundos
Modelo SVM         Tiempo de entrenamiento:                  221  segundos
Modelo RFC         Tiempo de entrenamiento:                  147  segundos
Modelo KNN         Tiempo de entrenamiento:                    8  segundos
Modelo QDA         Tiempo de entrenamiento:                    2  segundos
Modelo DT          Tiempo de entrenamiento:                    2  segundos
End Train Model         Fecha Finalizacion:  2022-06-29 19:47:40

In [6]:
scrs = scores

In [7]:
scr = pd.DataFrame([[key, scrs[key]] for key in scrs.keys()], columns=['Modelo', 'Score'])
scr.sort_values('Score', ascending=False)

       Modelo     Score
1   Modelo NB  1.000000
3  Modelo RFC  1.000000
5  Modelo QDA  1.000000
6   Modelo DT  1.000000
0  Modelo LDA  0.523265
2  Modelo SVM  0.514694
4  Modelo KNN  0.506939

In [8]:

resultados.sort_values('mean_test_score', ascending=False)

,modelo,mean_fit_time,std_fit_time,mean_score_time,params,mean_test_score,std_test_score,rank_test_score
0,Modelo RFC,0.532035,0.017184,0.027260,"{'criterion': 'gini', 'max_depth': None, 'min_...",1.000000,0.000000,1
0,Modelo QDA,0.034387,0.010944,0.010204,"{'reg_param': 1e-05, 'store_covariance': True,...",1.000000,0.000000,1
0,Modelo DT,0.015555,0.002414,0.007843,"{'criterion': 'gini', 'max_depth': 2, 'min_sam...",1.000000,0.000000,1
0,Modelo LDA,0.028125,0.015478,0.004327,"{'solver': 'svd', 'tol': 0.0001}",0.523265,0.022341,1
0,Modelo SVM,7.969752,0.720392,0.149639,"{'C': 1, 'gamma': 0.0001, 'kernel': 'rbf'}",0.513469,0.007482,17
0,Modelo NB,0.005385,0.000876,0.002617,{'var_smoothing': 1.0},0.511020,0.016809,100
0,Modelo KNN,0.030780,0.004979,0.040330,"{'metric': 'minkowski', 'n_neighbors': 5, 'wei...",0.493469,0.023122,29

In [9]:
DT = DecisionTreeClassifier(random_state=2022)
grid_search_dt = {'max_depth': [2],'min_samples_leaf': [5],'criterion': ["gini"]}
gs_DT = GridSearchCV(estimator=DT, param_grid=grid_search_dt, cv=10, n_jobs=-1, verbose=1, scoring = "accuracy")
gs_DT.fit(X_train, y_train)

NameError: name 'K_fold' is not defined

In [ ]:
gs_DT.predict(X_test)

In [ ]:
y_train_pred = gs_DT.predict(X_train)
y_test_pred = gs_DT.predict(X_test)

In [ ]:
conf_matrix = pd.crosstab(y_test, y_test_pred, rownames=["observación"], colnames=["Predicción"])
print("Matriz de Confusión: \n\n", conf_matrix)

In [ ]:
fn.validacion_dt(conf_matrix)

In [ ]:
from sklearn.metrics import classification_report
print(classification_report(y_test, gs_DT.predict(X_test)))